.container {
  margin-top: 6%;
  border-radius: 1em;
  /* background-color: rgba(109, 153, 149, 0.73); */
  background-color:rgba(169,169,169,0.4);
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Copperplate";
  font-size: 20px;
}
.contact-info i {
  margin-right: 20px;
  font-size: 25px;
}

.contact-info, .contact-form{
    flex:1;
  }

.contact-form h1 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Copperplate", fantasy;
  margin-top: 30px;
}

.contact-form .text-box {
  /* background:#000; */
  /* color: #fff; */
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child {
  margin-right: 15px;
}

.contact-form textarea {
  /* background:#000; */
  /* color: #fff; */
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-button{
  /* background: #2E94E3; */
  background: rgb(69, 182, 174, 0.7);
  color: #fff;
  float: right;
  border: none;
  width: 120px;
  height:40px;
  font-size:15px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing:2px;
  border-radius:5px;
  cursor: pointer;
  transition:0.3s;
  transition-property: background;
  margin-bottom:30px
}

.contact-form .send-button:hover{
  /* background:#0582E3 */
  background:rgba(85, 151, 147, 0.7);
}

.bg_image{
  background-image: url('../../images/background2.jpg');
  /* background-size: cover; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100vh; */
  color: #f5f5f5;
}

.contact-info div{
  margin-left: 70px;
}

.contact-det{
  margin-right:30px;
}